body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.admin-bar .navbar-fixed-top {
    margin-top: 30px;
}
.current-menu-item > a {
    background: #ff0;
}
@media (min-width: 768px) {
    .sub-menu {
        display: none;
        position: absolute;
        background: #222;
        padding: 10px 15px;
        width: 200px;
    }

    li:hover .sub-menu {
        display: block
    }
}

.sub-menu {
    li {
        margin-bottom: 10px;
        list-style: none;
    }
}
.widget {
  margin: 50px 0 0 0;
}
